.saldos {
    font-family:Poppins;
    margin-top: -550px;
    background-color: #F6F6F6;
    margin-left: 250px !important;
    width: 1100px;
}
  
.texto-saldo {
    display: inline;
    margin-left: 0px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 20px;
}
  
  .botao-saldo1 {
    position: absolute;
    display: inline;
    width: 130px;
    height: 30px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color:#282828;
    opacity: 1;
    font-size: 15px;
    margin-left: 995px;
    margin-top: -30px;
}

.tabelasaldo {
    position: relative;
    margin-top: 10px;
    margin-left: 240px;
    width: 1000px;
    height: 500px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #57575640;
    opacity: 1;
}

.statussaldo {
    margin-left: 410px;
    letter-spacing: 0px; 
    color: #000000; 
    opacity: 1;
}
