.texto-saldo {
    display: inline;
    margin-left: 0px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 20px;
}
  
  .botao-saldo1 {
    position: absolute;
    display: inline;
    width: 130px;
    height: 30px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color:#282828;
    opacity: 1;
    font-size: 15px;
    margin-left: 844px;
    margin-top: -2px;
}

.botao-saldo2 {
    position: absolute;
    display: inline;
    width: 130px;
    height: 30px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color:#282828;
    opacity: 1;
    font-size: 15px;
    margin-left: 655px;
}

.tabelasaldo {
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    width: 1000px;
    height: 500px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #57575640;
    opacity: 1;
}

.statussaldo {
    margin-left: 0px;
    letter-spacing: 0px; 
    color: #000000; 
    opacity: 1;
}

