.fontHeader{
  float: right;
  font-family: 'Poppins';
  color: #FFFFFF;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}

body{
  font-family: 'Poppins';
  color: #FF5A00;
  font-weight: 600;
  background-color: #F6F6F6;
  position: absolute;
  height: 100%;
  width: 100%;
}

h3{
  color: #FFFFFF !important;
  font-weight: 700 !important;
}

th {
  color: #000000;
  font-weight: bold;
}

td {
  color: #000000;
  font-weight: normal;
  font-size: 15px;
}

.footer{
  margin-top: 500px;
  padding-top: 20px;
  background: #282828;
  opacity: 1;
  box-shadow: 0px 0px 4px #57575640;
}

.container{
  padding-top: 100px;
  padding-bottom: 100px;
}

h2{
  font-family:'Poppins' !important;
  font-weight: 400 !important;
  color: black;
}


ul{
  font-family: Poppins !important;
  font-weight: 400 !important;
  color: gray;
}

h5{
  font-family: Poppins !important;
  font-weight: 400 !important;
  color: white;
}

.input{
  border-color: #d7d7d7 !important;
    border-style: solid !important;
    color: black;
}

.card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #57575640;
  opacity: 1;
  border-radius: 10px;
  margin: 0 10%;
  margin-top: 0 10%;
  margin-bottom: 0 10%;
}

.modal-header{
  background-color: #282828 !important;
}

.cardPerfil{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #57575640;
  opacity: 1;
  border-radius: 10px;
  margin: 0 10%;
  margin-top: 0 10%;
  margin-bottom: 0 10%;
}

.navbar{
box-shadow: 0px 0px 4px #57575640;  
}

.cardLogin{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #57575640;
  opacity: 1;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar-light{
  background: #FF5A00 !important;
}

.navbar-brand{
  font-family: Poppins !important;
  color: #FFFFFF !important;
}

.logo{
  width: 150px;
  height: auto;
}

.nav-link{
  font-family: Poppins !important;
  color: #FFFFFF !important;
}

.fontAboutUs{
  font-family: Poppins !important;
  color: #FFFFFF !important;
}


.cardMenu{
  background: #EDEDED 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #000000;
  font-family: 'Poppins';
}

li{
  font-family: 'Poppins';
  color: #000000;
  text-decoration:none !important;
}

li:hover{
  font-family: 'Poppins';
  color: #2e2e2e;
  text-decoration:none !important;
}

.btnSidebar {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #282828;
  transition: 0.2s all ease-in-out;
  text-decoration: none;
}

.ret2{
background: #EDEDED 0% 0% no-repeat padding-box;
opacity: 1;
}

.cardRedirect {
background-color: #FF5A00;
top: 272px;
width: 1246px;
height: 300px;
}

h4{
  font-family:Poppins !important;
  color: white !important;
}

.ret{
background: #FF5A00 0% 0% no-repeat padding-box;
opacity: 1;
}

.retAbout{
  background: #FF5A00;
  opacity: 1;
  padding-left: 10px;
  padding-top: 10px;
  margin: auto;
  box-shadow: 0px 0px 4px #57575640;
  }

.sub-title{
  font-family:Poppins !important;
  color: white !important;
  margin: auto;
}

.taxa {
top: 35px;
left: 540px;
width: 62px;
height: 25px;
text-align: right;
letter-spacing: 0px;
font-family:Poppins !important;
color: white !important;
opacity: 1;
}

#movimentacoes {
  display: inline;
  background-color: #EDEDED;
}

.container-fluid cardMenu ps-3 pe-0  {
  margin-top: 0px !important;
  position: relative;
}

td {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.imgBox{
  box-shadow: 0px 0px 4px #57575640;
}

.title{
  font-family: Poppins !important;
  color: white !important;
  margin: auto;
}

.ret3{
background: #FF5A00 0% 0% no-repeat padding-box;
opacity: 1;
font-family: Poppins;
font-weight: 400;
color: white;
text-align:center;
box-shadow: 0px 0px 4px #57575640;
opacity: 1;
border-radius: 10px;
margin: 0 10%;
margin-top: 0 10%;
margin-bottom: 0 10%;
}

.ret5{
  background: #FF5A00;
  opacity: 1;
  font-family: Poppins;
  color: white;
}

.imgLogin{
  background-image: url(imgLogin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-area{
  width:100%;
  height:100vh;
  background-image: url(emConstrucao.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.ret4{
  background: #282828 0% 0% no-repeat padding-box;
  opacity: 1;
  font-family: Poppins;
  font-weight: 400;
  color: white;
  text-align:center;
  box-shadow: 0px 0px 4px #57575640;
  opacity: 1;
  border-radius: 10px;
  margin: 0 10%;
  margin-top: 0 10%;
  margin-bottom: 0 10%;
  margin-left: 0 10%;
  margin-right: 0 10%;
  }

.btn{
  margin:0 auto;
  display: block;
}

.title-center{
  font-family: 'Poppins';
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  size: 28px;
}

.form-label {
  text-align: left;
  letter-spacing: 0px;
  color: #FF5A00;
  opacity: 1;
}


.redirect{
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
}

a{
  color:#FF5A00;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-decoration:none !important;
  transition: 0.2s all ease-in-out;
  border: none
}

.menuLink{
font-family: Poppins !important;
color: #000000 !important;
text-decoration:none !important;
}

.fontA{
  font-family: 'Poppins';
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
}

.fontDiv{
  font-family: 'Poppins';
  text-align: left;
  letter-spacing: 0px;
  color: #FF5A00;
  opacity: 1;
}

.fontB{
  font-family: 'Inter';
  font-weight: 700;
}

.form-control{
  background: #F6F6F6 0% 0% no-repeat padding-box;
  opacity: 1;
}

.fontRet{
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.fontRet2{
text-align: center;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.fontRet3{
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }

.fontLink{
  text-align: center;
letter-spacing: 0px;
color: #808080;
opacity: 1;
}

.fontLink :hover{
color: #000000;
}

.btn{
  color: white;
  background-color: #FF5A00;
  box-shadow: 0px 0px 4px #57575640;
}

.btn:hover{
  background-color:#282828;
}

@media screen and (min-width: 2100px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -515px !important;
    margin-left: 355px !important;
  }
  .perfil {
    margin-top: -885px;
    margin-left: 365px;
  }
  .verificar-conta {
    margin-top: -830px;
    margin-left: 365px;
  }
}

@media screen and (max-width: 1300px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -555px !important;
    margin-left: 215px !important;
  }
  .perfil {
    margin-top: -950px;
    margin-left: 220px;
  }
  .verificar-conta {
    margin-top: -880px;
    margin-left: 225px;
  }
}

@media screen and (max-width: 1400px) {  @media screen and (min-width: 1300px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -545px !important;
    margin-left: 230px !important;
  }
  .perfil {
    margin-top: -950px;
    margin-left: 235px;
  }
  .verificar-conta {
    margin-top: -870px;
    margin-left: 233px;
  }
}
}
@media screen and (max-width: 1500px) { @media screen and (min-width: 1400px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -552px !important;
    margin-left: 250px !important;
  }
  .perfil {
    margin-top: -960px;
    margin-left: 248px;
  }
  .verificar-conta {
    margin-top: -880px;
    margin-left: 250px;
  }
}
}
@media screen and (max-width: 1600px) { @media screen and (min-width: 1500px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -525px !important;
    margin-left: 270px !important;
  }
  .perfil {
    margin-top: -925px;
    margin-left: 278px;
  }
  .verificar-conta {
    margin-top: -860px;
    margin-left: 278px;
  }
}
}
@media screen and (max-width: 1700px) { @media screen and (min-width: 1600px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -523px !important;
    margin-left: 285px !important;
  }
  .perfil {
    margin-top: -910px;
    margin-left: 280px;
  }
  .verificar-conta {
    margin-top: -835px;
    margin-left: 288px;
  }
}
}
@media screen and (max-width: 1800px) { @media screen and (min-width: 1700px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -525px !important;
    margin-left: 298px !important;
  }
  .perfil {
    margin-top: -910px;
    margin-left: 305px;
  }
  .verificar-conta {
    margin-top: -840px;
    margin-left: 305px;
  }
}
}
@media screen and (max-width: 1900px) { @media screen and (min-width: 1800px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -520px !important;
    margin-left: 325px !important;
  }
  .perfil {
    margin-top: -905px;
    margin-left: 325px;
  }
  .verificar-conta {
    margin-top: -830px;
    margin-left: 325px;
  }
}
}
@media screen and (max-width: 2000px) { @media screen and (min-width: 1900px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -520px !important;
    margin-left: 335px !important;
  }
  .perfil {
    margin-top: -900px;
    margin-left: 335px;
  }
  .verificar-conta {
    margin-top: -835px;
    margin-left: 335px;
  }
}
}
@media screen and (max-width: 2100px) { @media screen and (min-width: 2000px) {
  .container-fluid cardMenu ps-3 pe-0  {
    margin-top: 0px;
    margin-left: -100px;
    position: absolute;
  }

  .navbar navsbar-expand-lg navbar-light bg-light {
    width: 500px;
    height: auto;
  }

  .principal {
    margin-top: -520px !important;
    margin-left: 355px !important;
  }
  .perfil {
    margin-top: -895px;
    margin-left: 355px;
  }
  .verificar-conta {
    margin-top: -830px;
    margin-left: 355px;
  }
}
} 